# OS X meta data
# These lines are used to specify metadata for an OS X file system.

.*
# This pattern matches any file or directory that has a name starting with a dot.
# In OS X, files and directories that start with a dot are hidden.

# Ignore thumbnails created by windows
Thumbs.db
# This line tells the system to ignore any files named "Thumbs.db",
# which are created by Windows to store thumbnail images of files.

# Ignore Delphi build directories
Android/
iOSDevice/
iOSDevice32/
iOSDevice64/
iOSSimulator/
OSX32/
Win32/
Win64/
# These lines specify directories that should be ignored when building a Delphi project.
# Each directory corresponds to a different target platform.

# Ignore Delphi build files
*.obj
*.exe
*.dcu
*.map
*.deployproj
# These lines specify file extensions for files that should be ignored when building a Delphi project.
# Each extension corresponds to a different type of build file.

# Ignore Delphi temp and backup files
*.~*
# This pattern matches any file that starts with a tilde (~).
# These files are temporary backup files created by some editors.

# Ignore Delphi local files
*.dsk
*.dproj.local
*.identcache
*.groupproj.local
# These lines specify files that are specific to a user's local machine.
# They should be ignored when sharing project files with other users.

# Ignore temporary help files
HtmlHelp/
Html/
# These directories contain temporary help files that can be safely ignored.

# Ignore DUnitX output
dunitx-results.xml
# This file contains the results of running unit tests with DUnitX.
# It can be safely ignored when building the project.

*.o
# This file extension corresponds to object files generated by a compiler.
# It can be safely ignored when building a Delphi project.
